- page_title "待办事项"
- header_title "待办事项", dashboard_todos_path

- if current_user.todos.any?
  .top-area
    %ul.nav-links
      - todo_pending_active = ('active' if params[:state].blank? || params[:state] == 'pending')
      %li{class: "todos-pending #{todo_pending_active}"}
        = link_to todos_filter_path(state: 'pending') do
          %span
            待办事项
          %span.badge
            = number_with_delimiter(todos_pending_count)
      - todo_done_active = ('active' if params[:state] == 'done')
      %li{class: "todos-done #{todo_done_active}"}
        = link_to todos_filter_path(state: 'done') do
          %span
            已完成
          %span.badge
            = number_with_delimiter(todos_done_count)

    .nav-controls
      - if @todos.any?(&:pending?)
        = link_to destroy_all_dashboard_todos_path(todos_filter_params), class: 'btn btn-loading js-todos-mark-all', method: :delete do
          全部标记完成
          = icon('spinner spin')

  .todos-filters
    .row-content-block.second-block
      = form_tag todos_filter_path(without: [:project_id, :author_id, :type, :action_id]), method: :get, class: 'filter-form' do
        .filter-item.inline
          - if params[:project_id].present?
            = hidden_field_tag(:project_id, params[:project_id])
          = dropdown_tag(project_dropdown_label(params[:project_id], '项目'), options: { toggle_class: 'js-project-search js-filter-submit', title: '按项目过滤', filter: true, filterInput: 'input#project-search', dropdown_class: 'dropdown-menu-selectable dropdown-menu-project js-filter-submit',
            placeholder: '搜索项目', data: { data: todo_projects_options } })
        .filter-item.inline
          - if params[:author_id].present?
            = hidden_field_tag(:author_id, params[:author_id])
          = dropdown_tag(user_dropdown_label(params[:author_id], '作者'), options: { toggle_class: 'js-user-search js-filter-submit js-author-search', title: '按作者过滤', filter: true, filterInput: 'input#author-search', dropdown_class: 'dropdown-menu-user dropdown-menu-selectable dropdown-menu-author js-filter-submit',
            placeholder: 'Search authors', data: { any_user: '任何作者', first_user: (current_user.username if current_user), project_id: (@project.id if @project), selected: params[:author_id], field_name: 'author_id', default_label: 'Author', todo_filter: true, todo_state_filter: params[:state] || 'pending' } })
        .filter-item.inline
          - if params[:type].present?
            = hidden_field_tag(:type, params[:type])
          = dropdown_tag(todo_types_dropdown_label(params[:type], '类型'), options: { toggle_class: 'js-type-search js-filter-submit', dropdown_class: 'dropdown-menu-selectable dropdown-menu-type js-filter-submit',
            data: { data: todo_types_options } })
        .filter-item.inline.actions-filter
          - if params[:action_id].present?
            = hidden_field_tag(:action_id, params[:action_id])
          = dropdown_tag(todo_actions_dropdown_label(params[:action_id], '动作'), options: { toggle_class: 'js-action-search js-filter-submit', dropdown_class: 'dropdown-menu-selectable dropdown-menu-action js-filter-submit',
            data: { data: todo_actions_options }})
        .pull-right
          .dropdown.inline.prepend-left-10
            %button.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
              %span.light
              - if @sort.present?
                = sort_options_hash[@sort]
              - else
                = sort_title_recently_created
              = icon('chevron-down')
            %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-sort
              %li
                = link_to todos_filter_path(sort: sort_value_priority) do
                  = sort_title_priority
                = link_to todos_filter_path(sort: sort_value_recently_created) do
                  = sort_title_recently_created
                = link_to todos_filter_path(sort: sort_value_oldest_created) do
                  = sort_title_oldest_created


.prepend-top-default
  - if @todos.any?
    .js-todos-options{ data: {per_page: @todos.limit_value, current_page: @todos.current_page, total_pages: @todos.total_pages} }
    - @todos.group_by(&:project).each do |group|
      .panel.panel-default.panel-small
        - project = group[0]
        .panel-heading
          = link_to project.name_with_namespace, namespace_project_path(project.namespace, project)

        %ul.content-list.todos-list
          = render group[1]
    = paginate @todos, theme: "gitlab"
  - elsif current_user.todos.any?
    .todos-all-done
      = render "shared/empty_states/todos_all_done.svg"
      - if todos_filter_empty?
        %h4.text-center
          = Gitlab.config.gitlab.no_todos_messages.sample
        %p.text-center
          想找点事情做？ 看看
          = succeed "," do
            = link_to "未关闭问题", issues_dashboard_path
          contribute to
          = link_to "合并请求", merge_requests_dashboard_path
          或者在评论中提及(@)某人以自动分配新的待办事项。
      - else
        %h4.text-center
          没有待办事项。
  - else
    .todos-empty
      .todos-empty-hero
        = render "shared/empty_states/todos_empty.svg"
      .todos-empty-content
        %h4
          待办事项可以让你知道你应该做什么。
        %p
          当一个问题或者合并请求被指派给你, 或者当你在评论中被提到
          %strong
            @
          就会自动在你的待办事项列表里增加新的事项。
        %p
          你将永远会知道接下来需要做什么工作。
