- if !project.empty_repo? && can?(current_user, :download_code, project)
  .dropdown.inline.download-button
    %button.btn{ 'data-toggle' => 'dropdown' }
      = icon('download')
      = icon("caret-down")
      %span.sr-only
        选择存档格式
    %ul.dropdown-menu.dropdown-menu-align-right{ role: 'menu' }
      %li.dropdown-header 源码
      %li
        = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'zip'), rel: 'nofollow' do
          %i.fa.fa-download
          %span 下载 zip
      %li
        = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'tar.gz'), rel: 'nofollow' do
          %i.fa.fa-download
          %span 下载 tar.gz
      %li
        = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'tar.bz2'), rel: 'nofollow' do
          %i.fa.fa-download
          %span 下载 tar.bz2
      %li
        = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'tar'), rel: 'nofollow' do
          %i.fa.fa-download
          %span 下载 tar

      - pipeline = project.pipelines.latest_successful_for(ref)
      - if pipeline
        - artifacts = pipeline.builds.latest.with_artifacts
        - if artifacts.any?
          %li.dropdown-header 工件
          - unless pipeline.latest?
            - latest_pipeline = project.pipeline_for(ref)
            %li
              .unclickable= ci_status_for_statuseable(latest_pipeline)
            %li.dropdown-header 上个工件
          - artifacts.each do |job|
            %li
              = link_to latest_succeeded_namespace_project_artifacts_path(project.namespace, project, "#{ref}/download", job: job.name), rel: 'nofollow' do
                %i.fa.fa-download
                %span 下载 '#{job.name}'
