- page_title           "#{@merge_request.title} (#{@merge_request.to_reference})", "合并请求"
- page_description     @merge_request.description
- page_card_attributes @merge_request.card_attributes
- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('diff_notes/diff_notes_bundle.js')

.merge-request{'data-url' => merge_request_path(@merge_request)}
  = render "projects/merge_requests/show/mr_title"

  .merge-request-details.issuable-details{data: {id: @merge_request.project.id}}
    = render "projects/merge_requests/show/mr_box"
    .append-bottom-default.mr-source-target.prepend-top-default
      - if @merge_request.open?
        .pull-right
          - if @merge_request.source_branch_exists?
            - if koding_enabled? && @repository.koding_yml
              = link_to koding_project_url(@merge_request.source_project, @merge_request.source_branch, @merge_request.commits.first.short_id), class: "btn inline btn-grouped btn-sm", target: '_blank' do
                在 Koding IDE 中运行
            = link_to "#modal_merge_info", class: "btn inline btn-grouped btn-sm", "data-toggle" => "modal" do
              检出分支

          %span.dropdown.inline.prepend-left-5
            %a.btn.btn-sm.dropdown-toggle{ data: {toggle: :dropdown} }
              下载为
              = icon('caret-down')
            %ul.dropdown-menu.dropdown-menu-align-right
              %li= link_to "邮件补丁", merge_request_path(@merge_request, format: :patch)
              %li= link_to "差异文件",    merge_request_path(@merge_request, format: :diff)
      .normal
        %span 请求合并
        %span.label-branch= source_branch_with_namespace(@merge_request)
        %span 到
        %span.label-branch
          = link_to_if @merge_request.target_branch_exists?, @merge_request.target_branch, namespace_project_commits_path(@project.namespace, @project, @merge_request.target_branch)
        - if @merge_request.open? && @merge_request.diverged_from_target_branch?
          %span (落后 #{pluralize(@merge_request.diverged_commits_count, '次提交', '次提交')})

    - if @merge_request.source_branch_exists?
      = render "projects/merge_requests/show/how_to_merge"

    = render "projects/merge_requests/widget/show.html.haml"

    - if @merge_request.source_branch_exists? && @merge_request.mergeable? && @merge_request.can_be_merged_by?(current_user)
      .light.prepend-top-default.append-bottom-default
        也可以通过
        = link_to "命令行", "#modal_merge_info", class: "how_to_merge_link vlink", title: "如何合并", "data-toggle" => "modal"
        手工接受此合并请求。

    - if @commits_count.nonzero?
      .merge-request-tabs-holder{ class: ("js-tabs-affix" unless ENV['RAILS_ENV'] == 'test') }
        %div{ class: container_class }
          %ul.merge-request-tabs.nav-links.no-top.no-bottom
            %li.notes-tab
              = link_to namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: { target: 'div#notes', action: 'notes', toggle: 'tab' } do
                讨论
                %span.badge= @merge_request.mr_and_commit_notes.user.count
            - if @merge_request.source_project
              %li.commits-tab
                = link_to commits_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: { target: 'div#commits', action: 'commits', toggle: 'tab' } do
                  提交
                  %span.badge= @commits_count
            - if @pipelines.any?
              %li.pipelines-tab
                = link_to pipelines_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: { target: '#pipelines', action: 'pipelines', toggle: 'tab' } do
                  流水线
                  %span.badge= @pipelines.size
            - if @pipeline.present?
              %li.builds-tab
                = link_to builds_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: { target: '#builds', action: 'builds', toggle: 'tab' } do
                  构建
                  %span.badge= @statuses_count
            %li.diffs-tab
              = link_to diffs_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: { target: 'div#diffs', action: 'diffs', toggle: 'tab' } do
                变更
                %span.badge= @merge_request.diff_size
            %li#resolve-count-app.line-resolve-all-container.pull-right.prepend-top-10.hidden-xs{ "v-cloak" => true }
              %resolve-count{ "inline-template" => true, ":logged-out" => "#{current_user.nil?}"  }
                %div
                  .line-resolve-all{ "v-show" => "discussionCount > 0",
                    ":class" => "{ 'has-next-btn': !loggedOut && resolvedDiscussionCount !== discussionCount }" }
                    %span.line-resolve-btn.is-disabled{ type: "button",
                        ":class" => "{ 'is-active': resolvedDiscussionCount === discussionCount }" }
                      = render "shared/icons/icon_status_success.svg"
                    %span.line-resolve-text
                      {{ resolvedDiscussionCount }}/{{ discussionCount }} {{ resolvedCountText }} resolved
                  = render "discussions/jump_to_next"

      .tab-content#diff-notes-app
        #notes.notes.tab-pane.voting_notes
          .content-block.content-block-small
            = render 'award_emoji/awards_block', awardable: @merge_request, inline: true

          .row
            %section.col-md-12
              .issuable-discussion
                = render "projects/merge_requests/discussion"

        #commits.commits.tab-pane
          - # This tab is always loaded via AJAX
        #builds.builds.tab-pane
          - # This tab is always loaded via AJAX
        #pipelines.pipelines.tab-pane
          - # This tab is always loaded via AJAX
        #diffs.diffs.tab-pane
          - # This tab is always loaded via AJAX

      .mr-loading-status
        = spinner

= render 'shared/issuable/sidebar', issuable: @merge_request
- if @merge_request.can_be_reverted?(current_user)
  = render "projects/commit/change", type: 'revert', commit: @merge_request.merge_commit, title: @merge_request.title
- if @merge_request.can_be_cherry_picked?
  = render "projects/commit/change", type: 'cherry-pick', commit: @merge_request.merge_commit, title: @merge_request.title

:javascript
  var merge_request;

  merge_request = new MergeRequest({
    action: "#{controller.action_name}"
  });
