- @no_container = true
- page_title "分支"
= render "projects/commits/head"

%div{ class: container_class }
  .top-area
    .nav-text
      保护分支可以在项目设置中进行管理

    .nav-controls
      = form_tag(filter_branches_path, method: :get) do
        = search_field_tag :search, params[:search], { placeholder: '按分支名称过滤', id: 'branch-search', class: 'form-control search-text-input input-short', spellcheck: false }

      .dropdown.inline
        %button.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
          %span.light
            = projects_sort_options_hash[@sort]
          = icon('chevron-down')
        %ul.dropdown-menu.dropdown-menu-align-right
          %li
            = link_to filter_branches_path(sort: sort_value_name) do
              = sort_title_name
            = link_to filter_branches_path(sort: sort_value_recently_updated) do
              = sort_title_recently_updated
            = link_to filter_branches_path(sort: sort_value_oldest_updated) do
              = sort_title_oldest_updated

      - if can? current_user, :push_code, @project
        = link_to namespace_project_merged_branches_path(@project.namespace, @project), class: 'btn btn-inverted btn-remove has-tooltip', title: "删除所有已合并到 '#{@project.repository.root_ref}' 的分支", method: :delete, data: { confirm: "已合并的分支被删除后将无法恢复，确定要继续？", container: 'body' } do
          删除已合并分支
        = link_to new_namespace_project_branch_path(@project.namespace, @project), class: 'btn btn-create' do
          新建分支

  - if @branches.any?
    %ul.content-list.all-branches
      - @branches.each do |branch|
        = render "projects/branches/branch", branch: branch
    = paginate @branches, theme: 'gitlab'
  - else
    .nothing-here-block 没有分支可以显示
